.Featured{
    height: 100%;
    width: 100%;
    z-index: 9999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.Featured img{
    color: #fa5e50;
    padding: 27.6px 0 62.4px;
}

.featured__blog{
    padding: 60px 55px;
    border: 1px solid #e6e6e6;
    max-width: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    background-color: #fff;
    margin-bottom: 90px;
}

.featured__blog h5{
    font-size: 17px;
    color: #3243b2;
    margin: 0 0 20px;
}

.featured__blog h1{
    font-size: 35px;
    margin: 0 0 25px;
}

.featured__blog p{
    font-size: 18px;
    text-align: center;
    margin: 0 0 20.8px;
    max-width: 430px;
    line-height: 1.8;
}

.featured__img{
    max-width: 638px;
    width: 100%;
    height: 333px;
    background-color: #e8eef8;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured__blog img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.featured__blog .landing__email{
    max-width: 638px;
}

.Featured::after{
    content: "";
    height: 345px;
    position: absolute;
    background-color: #f7f9ff;
   
    width: 100%;
    bottom: 0;
}

.featured__blog .landing__button button{
    width: 100%;
}