.Navigation{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfe;

}

.logo{
    font-size: 32px;
    font-weight: 800;
    color: #3243b2;
    
}


.nav__Wrapper{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}

.nav__Wrapper .nav__items{
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-around;

}

.nav__items li {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
   
}

.nav__items .link{
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}
.nav__items .link:hover{
    color: rgba(0, 0, 0, 0.473);
}

.nav__items .link:focus{
    font-weight: 600;
}
.nav__items .link:active{
    font-weight: 600;
}




