.Testimonals{
    height: 600px;
}

.testimonals__companies{
    padding: 86.4px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.testimonals__companies h4{
    font-size: 17px;
    color: #3243b2;;
}

.testimonals__companies-logos{
    padding: 86.4px 0 115.2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.testimonals__companies-logos div{
    padding: 0 20px;
}

.testimonals__others{
    padding: 0 0 57.6px;
}